{% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <script src={%static "p5.js"%}></script>
  <script src={%static "p5.sound.min.js"%}></script>
  <link rel="stylesheet" type="text/css" href={%static "style2.css"%}>
  <meta charset="utf-8">

</head>

<body>
  

  <div class="topnav">
    <a href="{% url 'user:login' %}">Login</a>
    <a href="{%url 'pybo:index'%}">Agora</a>
    <a href="{% url 'user:archive' %}">Archive</a>
    <a href="{%url 'quiz:start'%}">Game</a>


  </div>

  <div content>
    <script src="static/sketch.js"></script>

    <div class="line01">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1336 730">
        <path d="M439.96,816.73l540.48-597.45h107.25L1305.33-21.3" />
      </svg>

    </div>
    <div class="line02">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1336 730">
        <path d="M386.94,333.07,142.76,603v37.28" />
      </svg>
    </div>
    <div class="line00">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1336 730">
        <path d="M544.5,765.7,943.1,325.1h110.2L1319,618.7h43.3" />
      </svg>
    </div>

  </div>

  </div>

</body>

</html>
