<!DOCTYPE html>

<html lang="en">

<head>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Archive</title>

</head>

<body>
    <!-- <div class="head" position="relative"></div>
    <div style="font-family:'Helvetica';font-size:72px;margin-left:10px;margin-top:10px;">Archive</div> -->

    <div class="topnav">
        <a href="{% url 'user:login' %}">Login</a>
        <a href="{%url 'pybo:index'%}">Agora</a>
        <a href="{% url 'user:archive' %}">Archive</a>
        <a href="{%url 'quiz:start'%}">Game</a>


    </div>

    <!-- <div class="container-fluid sticky-top" style="height:10px;position:relative;">
        <div id="menu" style="margin-top:1px; " class="makright">
            <div id="slide"
                style=" font-size: 72px;color:red;padding-top: 5px;padding-bottom: 30px; font-family: 'Helvetica'; position:relative">
                Menu </div>

            <div id="panel">
                <ul>
                    <li style="border-bottom:solid black 2px;font-size: 56px; padding-top: 20px;padding-bottom: 22px;">
                        <a href="#" style="color: black;">Home</a>
                    </li>
                    <li style="border-bottom:solid black 2px;font-size: 56px; padding-top: 20px;padding-bottom: 22px;">
                        <a href="#" style="color: black;">Archive</a>
                    </li>
                    <li style="border-bottom:solid black 2px;font-size: 56px; padding-top: 20px;padding-bottom: 22px;">
                        <a href="#" style="color: black;">Agora</a>
                    </li>
                    <li style="border-bottom:solid black 2px;font-size: 56px; padding-top: 20px;padding-bottom: 22px;">
                        <a href="#" style="color: black;">Login</a>
                    </li>
                    <li style="border-bottom:solid black 2px; padding-top: 80%;padding-bottom: 80%;"></li>
                </ul>
            </div>
        </div> -->
    <div class="container" style="position:absolute;">
        <img class="main_container">
        <img src="img/soil.png" style="float:left; width:20%; height:20%; left: 70px; top: - 50px;">
        <img src="img/power-outlet.jpg" style="float:right; width:20%; height:20%; right: 60px; top: 50px;">
        <img src="img/grass.png" style="float:left; width:20%; height:20%; left: -350px; top: 200px;" />
        <img src="img/map.png" style="float:left; width:20%; height:20%; left: 160px; top: 600px;" />
        <img src="img/dam.jpg" style="float:right; width:20%; height:20%; right:300px; top: -100px;" />
        <img src="img/p.png" style="float:left; width:15%; height:15%; right:500px; top: 200px;" />
        <img src="img/Wind-Energy.gif" style="float:left; width:20%; height:20%; left:20px; top: 300px;" />
        <img src="img/main.gif" style="float:right; width:30%; height:30%; right:630px; top: -300px;" />
        <img src="img/Atoms.gif" style="float:right; width:20%; height:20%;left: 70px; top: - 50px;" />
        <img src="img/원자력.png" style="float:left; width:10%; height:10%;left: 370px; top: -330px;" />
        </img>
    </div>

    <script type="text/javascript">
        var container_idx = 10;
        $('.container img')
            .draggable()
            .css('cursor', 'move')
            .mousedown(function () {
                $(this).css('z-index', container_idx);
                container_idx++;
            });
        $(".main_container img").css("left", function (index) {
            return index * numberRandomizer();
        });
        $(".main_container img").css("right", function (index) {
            return index * numberRandomizer();
        });

        $(document).ready(function () {
            var bodyWidth = document.body.clientWidth
            var bodyHeight = document.body.clientHeight
        });
        $('.main_container img').each(function () {
            var randPosX = Math.floor((Math.random() * bodyWidth));
            var randPosY = Math.floor((Math.random() * bodyHeight));
            $(this).css('left', randPosX);
            $(this).css('top', randPosY);
            posLog.innerHTML = posXY
        });


    </script>






    </div>

</body>


</html>